@font-face {
    font-family: 'NeonTubes';
    src: url(./NeonTubes.otf);
    font-style: normal;
    font-weight: 100;
    }
          
          #name {
              font-weight: 100;
          }
  
  :root {
      --primary-color: #0077ff;
      --secodanry-color: #fb7aff;
      --tertiary-color: #000000;
      --text-shadow: 1px 1px 2px var(--secodanry-color), 0 0 1em var(--primary-color), 0 0 0.2em;
      --var-color: rgb(43, 46, 255);
      --clr-neon: hsl(317 100% 54%);
      --clr-neon-bg: hsl(323 21% 16%);
      --neon-text-shadow: 1px 1px 2px var(--clr-neon), 0 0 1em var(--clr-neon), 0 0 0.2em;
  }
  header {
      background-color: #000000;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 9999;
      
  }
  /* source: https://css-tricks.com/how-to-create-neon-text-with-css/ */
  .container h1 {
    font-size: 1.2em;
    font-family: NeonTubes;
    color: var(--clr-neon);
    position: relative;
      margin: auto;
      padding: .25em 0 0 .25em;
  }
  
  .container h1::before {
    position: absolute;
    content: attr(data-text);
    text-shadow: var(--neon-text-shadow);
    filter: blur(50em) brightness(1);
    animation: flicker 2s linear forwards;
    animation-delay: 1s;
  }
  @keyframes flicker {
    0% {
      filter: blur(5px) brightness(1);
    }
    3% {
      filter: blur(5px) brightness(0);
    }
    6% {
      filter: blur(5px) brightness(1);
    }
    7% {
      filter: blur(5px) brightness(0);
    }
    8% {
      filter: blur(5px) brightness(1);
    }
    9% {
      filter: blur(5px) brightness(1);
    }
    10% {
      filter: blur(5px) brightness(0);
    }
    20% {
      filter: blur(5px) brightness(1);
    }
    50% {
      filter: blur(5px) brightness(1);
    }
    99% {
      filter: blur(5px) brightness(0);
    }
    100% {
      filter: blur(5px) brightness(1);
    }
  }
  
  header nav {
      text-decoration: none;
      margin: 1em;
  }
  
  header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
  }
  
  header nav ul li {
      text-decoration: none;
  }
   /* source: https://www.youtube.com/watch?v=6xNcXwC6ikQ */
  .neon-button {
      font-size: 1em;
      display: inline-block;
      cursor: pointer;
      text-decoration: none;
      color: var(--clr-neon);
      border: var(--clr-neon) .125em solid;
      padding: .5em 1em;
      border-radius: .25em;
      font-family: NeonTubes;
  
      text-shadow: 0 0 .125em hsl(0, 0%, 100% / .3), 0 0 .45em var(--clr-neon);
  
      box-shadow: inset 0 0 .5em 0 var(--clr-neon), 0 0 .5em 0 var(--clr-neon);
  
      position: relative;
  }
  
  .neon-button::before {
      text-decoration: none;
      pointer-events: none;
      content: "";
      position: absolute;
      background: var(--clr-neon);
      top: 120%;
      left: 0;
      width: 100%;
      height: 100%;
  
      transform: perspective(1em) rotateX(40deg) scale(1,0.35);
      filter: blur(1.1em);
      opacity: .7;
  
      
  }
  
  .neon-button::after {
      text-decoration: none;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: 0 0 2em .5em var(--clr-neon);
      opacity: 0;
      background-color: var(--clr-neon);
      z-index: -1;
      transition: opacity 100ms linear;
  }
  
  .neon-button:hover::before,
  .neon-button:focus::before {
      opacity: 1;
  }
  
  .neon-button:hover::after,
  .neon-button:focus::after {
      opacity: 1;
  }
  
  .neon-button:hover,
  .neon-button:focus {
      text-decoration: none;
      background: var(--clr-neon);
      color: var(--clr-neon-bg);
      text-shadow: none;
  }
  
  section {
      padding: 60px;
  }